@font-face {
    font-family: Magic;
    src: url(../../assets/fonts/EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
body{
    max-width: 1600px;
    margin: auto;
    background-color: blanchedalmond;
    font-family: Roboto;
}
.main_div {
    background-image: url(../../assets/images/library.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_txt {
    padding: 0;
    margin: 0;
    text-align: center;
    color:blanchedalmond;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 150px;
    font-family: Magic;
}
.catalog_div {
    height: 150px;
    width: 100%;
    background-color: #FAE5D3;
}
.card_div {
    width: 100%;
    height: 850px;
    background-color: #FEF5E7;
}






.footer_div {
    width: 100%;
    height: 50px;
    background-color: #FAE5D3;
}
