@font-face {
    font-family: Magic;
    src: url(../../assets/fonts/EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
body{
    max-width: 1600px;
    margin: auto;
    background-color: blanchedalmond;
    font-family: Roboto;
}
.main_div {
    background-image: url(../../assets/images/library.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_txt {
    padding: 0;
    margin: 0;
    text-align: center;
    color:blanchedalmond;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 150px;
    font-family: Magic;
}
.welcome_txt2 {
    text-decoration: underline;
}
.catalog_div {
    height: 150px;
    width: 100%;
    background-color: #FAE5D3;
}
#card_div_id {
    width: 100%;
    height: 900px;
    background-color: #FEF5E7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;

}
#card_div_id_inner {
    width: 18%;
    height: 47%;
    background-color:#FAE5D3;
    margin: 10px auto;
    border: 1px solid  #fff;
    box-sizing: border-box;
    position: relative;
}
#title_id, #author_id, #price_id {
    margin: 0;
    padding: 0;
}
#image_link_div {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
#image_id {
    height: 100%;
    opacity: 0.8;
}
#title_id {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 10px 0 10px;
}
#author_id {
    font-weight: 400;
    color: #8A8A8A;
    margin: 0 10px 0 10px;
}
#price_id {
    font-weight: 400;
    color: #9B4802;
    font-size: 32px;
    position: absolute;
    margin-bottom: 5px;
    margin: 0 10px 0 10px;
}





.footer_div {
    width: 100%;
    height: 50px;
    background-color: #FAE5D3;
}
