@font-face {
    font-family: Magic;
    src: url(../../assets/fonts/EmilysCandy-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}
body{
    max-width: 1600px;
    margin: auto;
    background-color: blanchedalmond;
    font-family: Roboto;
}
.main_div {
    background-image: url(../../assets/images/library.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_txt {
    padding: 0;
    margin: 0;
    text-align: center;
    color:blanchedalmond;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 150px;
    font-family: Magic;
}
.welcome_txt2 {
    text-decoration: underline;
}
.catalog_div {
    height: 150px;
    width: 100%;
    background-color: #FAE5D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog_div_both {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
    color: #9B4802;
    font-family: Magic;
}
.catalog_div_left {
    margin-left: 50px;

}
.catalog_div_right {
    margin-right: 50px;
}
#card_div_id {
    width: 100%;
    height: 900px;
    background-color: #FEF5E7;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;

}
#card_div_id_inner {
    width: 18%;
    height: 47%;
    background-color:#FAE5D3;
    margin: 10px auto;
    border: 1px solid  #fff;
    box-sizing: border-box;
    position: relative;
}
#title_id, #author_id, #price_id {
    margin: 0;
    padding: 0;
}
#image_link_div {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    position: relative;
}
#image_id {
    height: 100%;
    opacity: 0.8;
}
#title_id {
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px 0 10px;
}
#author_id {
    font-weight: 400;
    color: #8A8A8A;
    margin: 5px 10px 0 10px;
}
#price_id {
    font-weight: 400;
    color: #9B4802;
    font-size: 25px;
    margin-left: 10px;
}
#bottom_div {
    height: 28%;
    width: 100%;
    display: grid;
    align-items: center;
}
#price_cat_div {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cart, #about_info, #image_info_button {
    margin-right: 10px;
    font-weight: 400;
    color: #9B4802;
    font-size: 14px;
}
#image_info_button {
    float: right;
}
#cart:hover {
    cursor: pointer;
    background-color: #9B4802;
    color: white;
    border-radius: 2px;
    border-color: #8A8A8A;
}
#about_info:hover {
    cursor: pointer;
    background-color: #9B4802;
    color: white;
    border-radius: 2px;
    border-color: #8A8A8A;
}
#image_info {
    position: absolute;
    text-align:justify;
    height: 100%;
    width: 90%;
    border: 1px solid #9B4802;
    border-radius: 1px;
    background-color: white;
    opacity: 0;
    padding:  0 10px 0 10px;
    box-sizing: border-box;
    font-size: 14px;
}
#image_info_content {
    margin: 0;
    padding: 0;
}




#image_info:hover {
    opacity: 0.9;
    cursor: help;
}






.footer_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #FAE5D3;
}
.footer_txt {
    margin: 0;
    padding: 0;
}
.footer_txt_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #9B4802;
}